{{/*
  ══════════════════════════════════════════
   CHIFFRES DU SITE — à modifier UNIQUEMENT ici
   Utilisation dans une page : {{template "nb-tests"}}
  ══════════════════════════════════════════
*/}}

{{define "nb-tests"}}129{{end}}
{{define "nb-tests-dashboard"}}28{{end}}
{{define "nb-projets"}}9{{end}}
{{define "nb-projets-prod"}}2{{end}}
{{define "nb-gosec"}}0{{end}}
{{define "docker-portfolio"}}60MB{{end}}
{{define "docker-dashboard"}}15MB{{end}}
{{define "honeypot-routes"}}15{{end}}
{{define "rate-limit"}}120{{end}}
{{define "lighthouse"}}96+{{end}}